<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <div class="navbar-brand d-flex align-items-center">
            <strong class="me-2" id="header_email"></strong>
            <span id="header_roles"></span>
        </div>
        <a th:href="@{'/logout'}" class="text-secondary text-decoration-none">Logout</a>
    </div>
</div>
<div class="row m-0 d-flex" style="height:100vh">
    <div class="d-flex flex-column col-2 p-0 mt-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin"
                    type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true"
                    >Admin
            </button>
            <button id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user"
                    type="button" role="tab" aria-controls="v-pills-user" aria-selected="false"
                    class="nav-link">User
            </button>
        </div>
    </div>
    <div class="d-flex flex-column flex-shrink-0 col-10 bg-body-tertiary p-4 tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">
            <div class="pt-3 pb-2 mb-3">
                <h1 class="h2">Admin panel</h1>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#userinfo" id="show-users-table" class="nav-link active no-refresh"
                       data-bs-toggle="tab" aria-current="true" role="tab">
                        Users Table</a>
                </li>
                <li>
                    <a href="#new_user" id="show-new-user-form" class="nav-link no-refresh"
                       data-bs-toggle="tab" aria-current="false" role="tab">
                        New User</a>
                </li>
            </ul>
            <div class="tab-content border">
                <div class="tab-pane fade show active" id="userinfo">
                    <div class="card">
                        <div class="pb-2 mb-3">
                            <h5 class="card-header">All users</h5>
                        </div>
                        <div class="table-responsive p-3">
                            <table class="table table-striped p-2">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="admin_table_body">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="new_user" role="form">
                    <div class="card border-0 border-bottom p-2 bg-body-tertiary">
                        <h5>Add new user</h5>
                    </div>
                    <div class="bg-white pt-3">
                        <div class="card-body col-5 mx-auto text-center">
                            <form method="POST" id="new_user_form">
                                <label for="new_user_name_input" class="fw-bold mb-0">First name</label>
                                <input type="text" class="form-control mb-3" id="new_user_name_input"
                                       placeholder="First name">
                                <label for="new_user_surname_input" class="fw-bold mb-0">Last name</label>
                                <input type="text" class="form-control mb-3" id="new_user_surname_input"
                                       placeholder="Last name">
                                <label for="new_user_age_input" class="fw-bold mb-0">Age</label>
                                <input type="text" class="form-control mb-3" id="new_user_age_input" placeholder="Age">
                                <label for="new_user_email_input" class="fw-bold mb-0">E-mail</label>
                                <input type="email" class="form-control mb-3" id="new_user_email_input"
                                       placeholder="Email">
                                <label for="new_user_password_input" class="fw-bold mb-0">Password</label>
                                <input type="password" class="form-control mb-3" id="new_user_password_input"
                                       placeholder="Password">
                                <select multiple class="form-select mb-3" name="roles" id="new_user_roles_input">
                                    <option>ADMIN</option>
                                    <option>USER</option>
                                </select>
                                <input type="submit" class="btn btn-success btn-lg mb-3" value="Add new user"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab"class="tab-pane fade p-3">
            <div class="pt-3 pb-2 mb-3">
                <h1 class="h1">User information-page</h1>
            </div>
            <div class="card">
                <div class="pb-2 mb-3">
                    <h5 class="card-header">About user</h5>
                </div>
                <div class="table-responsive p-3">
                    <table class="table table-striped p-2">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="#user_table_row">
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- EDIT Modal -->

<div class="modal fade" id="editModal"
     tabindex="-1"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <form method="POST" id="edit_user_form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit
                        user</h5>
                    <button type="button" class="btn-close btn-edit-form-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center align-self-center">
                    <input type="hidden" id="edit_user_id" name="id">
                    <input type="hidden" id="edit_user_username" name="username">
                    <label for="edit_user_id_input"
                           class="fw-bold mb-0 form-label">ID</label>
                    <input disabled type="text" class="form-control mb-3"
                           id="edit_user_id_input">
                    <label for="edit_user_name" class="fw-bold mb-0">First
                        name</label>
                    <input type="text" class="form-control mb-3"
                           id="edit_user_name" name="name">
                    <label for="edit_user_surname" class="fw-bold mb-0">Last
                        name</label>
                    <input type="text" class="form-control mb-3"
                           id="edit_user_surname" name="surname">
                    <label for="edit_user_age"
                           class="fw-bold mb-0">Age</label>
                    <input type="number" class="form-control mb-3"
                           id="edit_user_age" name="age">
                    <label for="edit_user_email"
                           class="fw-bold mb-0">Email</label>
                    <input type="email" class="form-control mb-3"
                           id="edit_user_email" name="email">
                    <label for="edit_user_password"
                           class="fw-bold mb-0">Password</label>
                    <input type="password" class="form-control mb-3"
                           id="edit_user_password" name="password">
                    <select multiple class="form-select mb-3" name="roles" id="edit_user_roles">
                        <option id="option_admin">ADMIN</option>
                        <option id="option_user">USER</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-edit-form-close"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- DELETE Modal -->
<div class="modal fade" id="deleteModal">
    tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <form method="POST" id="delete-user-form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete
                        user</h5>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center align-self-center">
                    <label for="idDeleteInput" class="fw-bold mb-0 form-label">ID</label>
                    <input disabled type="text" class="form-control mb-3"
                           id="idDeleteInput">
                    <label for="nameDeleteInput" class="fw-bold mb-0">First
                        name</label>
                    <input disabled type="text" class="form-control mb-3"
                           id="nameDeleteInput" name="name">
                    <label for="surnameDeleteInput" class="fw-bold mb-0">Last
                        name</label>
                    <input disabled type="text" class="form-control mb-3"
                           id="surnameDeleteInput" name="surname">
                    <label for="ageDeleteInput"
                           class="fw-bold mb-0">Age</label>
                    <input disabled type="number" class="form-control mb-3"
                           id="ageDeleteInput" name="age">
                    <label for="emailDeleteInput"
                           class="fw-bold mb-0">Email</label>
                    <input disabled type="email" class="form-control mb-3"
                           id="emailDeleteInput" name="email">
                    <label for="passwordDeleteInput"
                           class="fw-bold mb-0">Password</label>
                    <input disabled type="password" class="form-control mb-3"
                           id="passwordDeleteInput" name="password">
                        <select disabled multiple class="form-select mb-3" name="roles" id="delete_user_roles">
                            <option id="option_admin_delete">ADMIN</option>
                            <option id="option_user_delete">USER</option>
                        </select>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close
                    </button>
                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Delete
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="js/src/script.js"></script>
</html>



